<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:400,700|Open+Sans:300,700|Merriweather:300" />
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="/js/keypress.js"></script>
    <script src="/js/bundle.min.js" async defer></script>
  </head>
  <body class="home">
    <div id="splash">
      <div id="branding">
        <h1>Joshua K. Farrar</h1>
        <h2>Peculiar Travel Suggestions</h2>
      </div>
    </div>
    <div id="content">
      <canvas id="canvas" width="680" height="480"></canvas>
    </div>
  </body>
</html>
